<section class="section catalog" id="catalog">
  <div class="container catalog">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture class="catalog-list-item-img">
          <source
            srcset="
              ./img/catalog/catalog-card-1-mobile.webp    1x,
              ./img/catalog/catalog-card-1-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-1-tablet.webp    1x,
              ./img/catalog/catalog-card-1-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-1-desktop.webp    1x,
              ./img/catalog/catalog-card-1-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/catalog/catalog-card-1-desktop.webp"
            alt="catalog picture"
            width="279"
            height="262"
          />
        </picture>
        <h3 class="catalog-list-item-title">
          Garmin Fenix 7X Pro Sapphire Solar
        </h3>
        <p class="catalog-list-item-dscr">€500</p>
      </li>
      <li class="catalog-list-item">
        <picture class="catalog-list-item-img">
          <source
            srcset="
              ./img/catalog/catalog-card-2-mobile.webp    1x,
              ./img/catalog/catalog-card-2-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-2-tablet.webp    1x,
              ./img/catalog/catalog-card-2-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-2-desktop.webp    1x,
              ./img/catalog/catalog-card-2-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/catalog/catalog-card-2-desktop.webp"
            alt="catalog picture"
            width="279"
            height="262"
          />
        </picture>
        <h3 class="catalog-list-item-title">Garmin Marq Athlete</h3>
        <p class="catalog-list-item-dscr">€450</p>
      </li>
      <li class="catalog-list-item">
        <picture class="catalog-list-item-img">
          <source
            srcset="
              ./img/catalog/catalog-card-3-mobile.webp    1x,
              ./img/catalog/catalog-card-3-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-3-tablet.webp    1x,
              ./img/catalog/catalog-card-3-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-3-desktop.webp    1x,
              ./img/catalog/catalog-card-3-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/catalog/catalog-card-3-desktop.webp"
            alt="catalog picture"
            width="279"
            height="262"
          />
        </picture>
        <h3 class="catalog-list-item-title">Garmin Descent MK1</h3>
        <p class="catalog-list-item-dscr">€680</p>
      </li>
      <li class="catalog-list-item">
        <picture class="catalog-list-item-img">
          <source
            srcset="
              ./img/catalog/catalog-card-4-mobile.webp    1x,
              ./img/catalog/catalog-card-4-mobile@2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-4-tablet.webp    1x,
              ./img/catalog/catalog-card-4-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-4-desktop.webp    1x,
              ./img/catalog/catalog-card-4-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/catalog/catalog-card-4-desktop.webp"
            alt="catalog picture"
            width="279"
            height="262"
          />
        </picture>
        <h3 class="catalog-list-item-title">Garmin D2 Delta PX</h3>
        <p class="catalog-list-item-dscr">€380</p>
      </li>
      <li class="catalog-list-item hidden">
        <picture class="catalog-list-item-img">
          <source
            srcset="
              ./img/catalog/catalog-card-5-tablet.webp    1x,
              ./img/catalog/catalog-card-5-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-5-desktop.webp    1x,
              ./img/catalog/catalog-card-5-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/catalog/catalog-card-5-desktop.webp"
            alt="catalog picture"
            width="279"
            height="262"
          />
        </picture>
        <h3 class="catalog-list-item-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-list-item-dscr">€400</p>
      </li>
      <li class="catalog-list-item hidden">
        <picture class="catalog-list-item-img">
          <source
            srcset="
              ./img/catalog/catalog-card-6-tablet.webp    1x,
              ./img/catalog/catalog-card-6-tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/catalog/catalog-card-6-desktop.webp    1x,
              ./img/catalog/catalog-card-6-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/catalog/catalog-card-6-desktop.webp"
            alt="catalog picture"
            width="279"
            height="262"
          />
        </picture>
        <h3 class="catalog-list-item-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-list-item-dscr">€395</p>
      </li>
    </ul>
    <button class="show-more-btn" type="button">Show more</button>
  </div>
</section>
