<section class="section contact_us" id="contact-us">
  <div class="container">
    <h2 class="contact_us_title">Contact Us</h2>
      <div class="contact_us_content">
        <div class="contact_place">
          <p class="form_subtitle">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
          <form class="form">
            <input type="text" class="input" name="user-name" pattern="a-zA-Zа-яА-ЯіІїЇєЄґҐ" title="Name" placeholder="Name" required>
            <input type="email" class="input" name="user-email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required >
            <input type="tel" class="input" name="user-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="+380" placeholder="+380" required>
            <textarea name="user-comment"  rows="5" class="textarea_comment" placeholder="Comment" required></textarea>
            <button class="button_send" type="submit">Send</button>
          </form>
        </div>
        <div class="contact-us_2block">
          <picture>
            <source media="(min-width: 768px )" 
            srcset="../img/contact_us/contact_us_img_tabl.webp 1x, ../img/contact_us/contact_us_img_tabl_2.webp 2x ">
            <source media="(min-width: 1280px )"
              srcset="../img/contact_us/contact_us_img_dt.webp 1x, ../img/contact_us/contact_us_img_dt_2.webp 2x ">
            <img class="contact_us_img" srcset="../img/contact_us/contact_us_img_mob.webp 1x, ../img/contact_us/contact_us_img_mob.webp 2x" media=""
              src="../img/contact_us/contact_us_img.webp" alt="your`s premium watch">
              </div>
          </picture>
      </div>
    </div>
  

</section>