<section class="contact_us">
  <div class="container">
    <h2 class="contact_us_title">Contact Us</h2>
    <div class="contact_place">
      <p class="form_subtitle">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
      <form class="form">
        <input type="text" class="input_name" placeholder="Name">

        <input type="text" class="input_name" placeholder="Email">

        <input type="text" class="input_name" placeholder="+380">

        <textarea name="comment" cols="30" rows="5" class="textarea_comment" placeholder="Comment"></textarea>
        <button class="button_send">Send</button>
      </form>
    </div>
    <img class="contact_us_img" srcset="../img/contact_us/contact_us_img.jpg 1x, ../img/contact_us/contact_us_img.jpg 2x"
      src="../img/contact_us/contact_us_img.jpg" alt="your`s premium watch">
  </div>
  

</section>