<footer id="footer" class="footer">
  <div class="page-footer">
    <!-- TopLine of the footer incl. Logo + Telephone + Slogan -->
    <div class="footer-top">
      <div class="footer-logo-social">
        <!-- Logo -->
        <a href="#" class="footer-logo-link">watchcharm</a>

        <!-- Social networks -->
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <!-- Telephone -->
      <address class="footer-telephone">
        <a class="footer-telephone-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>

      <!-- Slogan for mobile and Tablet -->
      <div class="footer-slogan">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </div>
    </div>

    <!-- Anchors & Address -->
    <!-- List of anchors on the web site -->
    <div class="footer-anchors">
      <ul class="footer-anchors-list">
        <li class="footer-anchors-item">
          <a href="#" class="footer-anchors-link" target="_parent">home</a>
        </li>
        <li class="footer-anchors-item">
          <a href="#about-us" class="footer-anchors-link" target="_parent"
            >about&nbsp;us</a
          >
        </li>
        <li class="footer-anchors-item">
          <a href="#catalog" class="footer-anchors-link" target="_parent"
            >catalog</a
          >
        </li>
        <li class="footer-anchors-item">
          <a href="#sale" class="footer-anchors-link" target="_parent">sale</a>
        </li>
        <li class="footer-anchors-item">
          <a href="reviews" class="footer-anchors-link" target="_parent"
            >reviews</a
          >
        </li>
        <li class="footer-anchors-item">
          <a href="contact-us" class="footer-anchors-link" target="_parent"
            >contact&nbsp;us</a
          >
        </li>
      </ul>
      <!-- Address of the company -->
      <address class="footer-address">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </address>
    </div>

    <!-- Copyright, Terms of service, Privacy policy -->
    <div class="footer-additional-information">
      <!-- Copyright -->
      <p class="footer-copyright">
        &copy;2023 The Watch Spot. All rights reserved.
      </p>

      <!-- Terms of service, Privacy policy -->
      <ul class="footer-terms-list">
        <li class="footer-terms-item">
          <a href="#" class="footer-terms-link" target="_blank"
            >Terms of Service</a
          >
        </li>
        <li class="footer-terms-item">
          <a href="#" class="footer-terms-link" target="_blank"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
