<header class="header">
  <div class="container">
    <div class="header-logo">
      <a class="header-logo-link" href="./index.html">watchcharm</a>
    </div>
    <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link link-accent" href="./index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about-us">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#sale">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a class="header-social-link" href="https://www.facebook.com/goITclub/">
          <svg class="header-social-icon" width="20" height="20">
            <use href="./img/footer/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.instagram.com/goitclub/"
        >
          <svg class="header-social-icon" width="20" height="20">
            <use href="./img/footer/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-link" href="https://www.youtube.com/c/GoIT">
          <svg class="header-social-icon" width="20" height="20">
            <use href="./img/footer/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger-btn" id="burger-btn" type="button">
      <svg class="burger-btn-icon" width="28" height="14"><use></use></svg>
    </button>
  </div>
  <div class="header-popup-menu is-open">
    <button class="close-btn" id="close-btn" type="button">
      <svg class="close-btn-icon" width="34" height="34">
        <use href="./img/header/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="popup-menu-wrapper">
      <ul class="popup-menu-list">
        <li class="popup-menu-item">
          <a class="popup-menu-link link-accent" href="#">Home</a>
        </li>
        <li class="popup-menu-item">
          <a class="popup-menu-link" href="#">About Us</a>
        </li>
        <li class="popup-menu-item">
          <a class="popup-menu-link" href="#">Catalog</a>
        </li>
        <li class="popup-menu-item">
          <a class="popup-menu-link" href="#">Sale</a>
        </li>
        <li class="popup-menu-item">
          <a class="popup-menu-link" href="#">Reviews</a>
        </li>
        <li class="popup-menu-item">
          <a class="popup-menu-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="popup-social-list">
        <li class="popup-social-item">
          <a
            class="popup-social-link"
            href="https://www.facebook.com/goITclub/"
          >
            <svg class="popup-social-icon" width="20" height="20">
              <use href="./img/footer/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="popup-social-item">
          <a
            class="popup-social-link"
            href="https://www.instagram.com/goitclub/"
          >
            <svg class="popup-social-icon" width="20" height="20">
              <use href="./img/footer/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="popup-social-item">
          <a class="popup-social-link" href="https://www.youtube.com/c/GoIT">
            <svg class="popup-social-icon" width="20" height="20">
              <use href="./img/footer/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
