<section class="section">
    <div class="container hero-container">
        <div class="hero-container-txt">
            <h1 class="hero-title">Welcome to our <span class="hero-text-color">collection</span> of premium watches
            </h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle. From classic
                designs to
                modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-people">
            <div class="hero-pic">
                <picture>
                    <source srcset="
                                        ./img/hero/people-mobile.webp    1x,
                                        ./img/hero/people-mobile@2x.webp 2x
                                      " media="(max-width:767px)" />
                    <source srcset="
                                        ./img/hero/people-desktop.webp    1x,
                                        ./img/hero/people-desktop@2x.webp 2x
                                      " media="(min-width:1280px)" />
                    <source srcset="
                                        ./img/hero/people-tablet.webp    1x,
                                        ./img/hero/people-tablet@2x.webp 2x
                                      " media="(min-width:768px)" />

                    <img src="./img/hero/people-mobile.webp" alt="people" class="hero-people-icons" width="108"
                        height="44" />
                </picture>
            </div>
            <div class="scroll-box">
                <a href="#section1" class="scroll-to scroll-txt">Scroll down</a>
            </div>
        </div>
    </div>
    <div class="container hero-clock">
        <picture>
            <source srcset="
                        ./img/hero/clock-mobile.webp    1x,
                        ./img/hero/clock-mobile@2x.webp 2x
                      " media="(max-width:767px)" />
            <source srcset="
                        ./img/hero/clock-desktop.webp    1x,
                        ./img/hero/clock-desktop@2x.webp 2x
                      " media="(min-width:1280px)" />
            <source srcset="
                        ./img/hero/clock-tablet.webp    1x,
                        ./img/hero/clock-tablet@2x.webp 2x
                      " media="(min-width:768px)" />

            <img src="./img/hero/clock-mobile.webp" alt="watches" class="hero-watches" width="335" height="366" />
        </picture>

    </div>
</section>