<section class="section-reviews">
    <div class="container-reviews">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-list-item">
                <picture>
                    <source srcset="" />
                    <source srcset="" />
                    <source srcset="" />
                     <img class="reviews-list-img" src="" alt="" width="" height="" />
                    
                </picture>
                <h3 class="reviews-list-name">John Wax</h3>
                <p class="reviews-list-text">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap
                fits nicely on the hand, and the mechanism works flawlessly.</p>
            </li>
        </ul>
    </div>

</section>