<section class="sale section" id="sale">
  <div class="container">
    <!-- Section name -->
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrapper">
      <!-- Preview of product -->
      <div class="sale-preview">
        <!-- Preview mini images -->

        <ul class="sale-preview-mini-list">
          <li class="sale-preview-mini-item">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-mini-1-mobile.webp    1x,
                  ./img/sale/watch-mini-1-mobile@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/sale/watch-mini-1-desktop.webp    1x,
                  ./img/sale/watch-mini-1-desktop@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <img
                src="./img/sale/watch-mini-1-mobile.webp"
                alt="Watch-mini-1"
                width="52"
                height="54"
                class="sale-preview-mini-img"
              />
            </picture>
          </li>
          <li class="sale-preview-mini-item">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-mini-2-mobile.webp    1x,
                  ./img/sale/watch-mini-2-mobile@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/sale/watch-mini-2-desktop.webp    1x,
                  ./img/sale/watch-mini-2-desktop@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <img
                src="./img/sale/watch-mini-2-mobile.webp"
                alt="Watch-mini-2"
                width="52"
                height="54"
                class="sale-preview-mini-img"
              />
            </picture>
          </li>

          <li class="sale-preview-mini-item">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-mini-3-mobile.webp    1x,
                  ./img/sale/watch-mini-3-mobile@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/sale/watch-mini-3-desktop.webp    1x,
                  ./img/sale/watch-mini-3-desktop@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <img
                src="./img/sale/watch-mini-3-mobile.webp"
                alt="Watch-mini-3"
                width="52"
                height="54"
                class="sale-preview-mini-img"
              />
            </picture>
          </li>

          <li class="sale-preview-mini-item">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-mini-4-mobile.webp    1x,
                  ./img/sale/watch-mini-4-mobile@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/sale/watch-mini-4-desktop.webp    1x,
                  ./img/sale/watch-mini-4-desktop@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <img
                src="./img/sale/watch-mini-4-mobile.webp"
                alt="Watch-mini-4"
                width="52"
                height="54"
                class="sale-preview-mini-img"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-preview-main">
          <!-- Preview main image -->
          <picture>
            <source
              srcset="
                ./img/sale/watch-big-mobile.webp    1x,
                ./img/sale/watch-big-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/sale/watch-big-desktop.webp    1x,
                ./img/sale/watch-big-desktop@2x.webp 2x
              "
              media="(min-width:768px)"
            />

            <img
              src="./img/sale/watch-big-mobile.webp"
              alt="Main Image"
              width="235"
              height="285"
              class="sale-preview-main-img"
            />
          </picture>
        </div>
      </div>

      <!-- Decsription of the product -->
      <div class="sale-descr">
        <h3 class="sale-descr-title">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-descr-article">Product tag: 706587</p>

        <!-- Prices and discounts -->
        <div class="sale-descr-prices">
          <p class="sale-descr-actual-price">€1500</p>
          <p class="sale-descr-first-price">€3000</p>
        </div>

        <!-- About product -->
        <p class="sale-descr-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <!-- Anchor tags -->
        <ul class="sale-descr-tags-list">
          <li class="sale-descr-tags-item">
            <a href="#" class="sale-descr-tags-link">Fused carbon fiber</a>
          </li>
          <li class="sale-descr-tags-item">
            <a href="#" class="sale-descr-tags-link">Grade-5 Titanuim</a>
          </li>
          <li class="sale-descr-tags-item">
            <a href="#" class="sale-descr-tags-link">Athlete</a>
          </li>
          <li class="sale-descr-tags-item">
            <a href="#" class="sale-descr-tags-link">Golfer</a>
          </li>
          <li class="sale-descr-tags-item">
            <a href="#" class="sale-descr-tags-link">Commander</a>
          </li>
          <li class="sale-descr-tags-item">
            <a href="#" class="sale-descr-tags-link">Adventurer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
