/* =========== Mobile styles =========== */
.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border: none;
  margin-bottom: 40px;
}

.catalog-list-item {
  padding: 24px 28px;
  flex-basis: auto;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
}

.catalog-list-item-img {
  display: block;
  padding: 18px 36px;
  margin-bottom: 10px;
}

.catalog-list-item-title {
  font-weight: 500;
  font-size: 16px;
  color: #0c0c0c;
  align-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.catalog-list-item-dscr {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-list-item.hidden {
  display: none;
}

.show-more-btn {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  max-height: 48px;
  padding: 15px 44px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.286;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.show-more-btn:hover,
.show-more-btn:focus {
  background-color: #1f3cd4;
}

/* =========== Tablet styles =========== */
@media only screen and (min-width: 768px) {
  .catalog-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .catalog-list {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 32px;
    margin-bottom: 0;
  }

  .catalog-list-item {
    padding: 24px 32px;
    width: calc((100% - 16px) / 2);
  }

  .catalog-list-item-img {
    padding: 10px 6px;
  }

  .catalog-list-item-title {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-list-item.hidden {
    display: block;
  }

  .show-more-btn {
    display: none;
  }
}

/* =========== Desktop styles =========== */
@media screen and (min-width: 1280px) {
  .catalog-list {
    justify-content: space-between;
    column-gap: 23px;
  }

  .catalog-list-item {
    width: calc((100% - 46px) / 3);
  }

  .catalog-list-item-img {
    padding: 6px 6px 14px;
  }
}
