/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('../../node_modules/swiper/swiper-bundle.min.css');
@import url('../Gilroy/stylesheet.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./advertisement.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact.css');
@import url('./footer.css');